@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://utfs.io/f/f756b9f6-5204-4596-922d-fff6debdd9bb-hellga.png");
  background-size: auto 100%;
  background-position: center;
}

.backdrop-blur-xs {
  --tw-backdrop-blur: blur(2px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .animate-shake {
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
    animation-delay: 0.5s;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .rounded-context {
    border-radius: 0.4rem 0.4rem 0 0.4rem;
  }
  .rounded-context-comment {
    border-radius: 0 0.4rem 0.4rem 0.4rem;
  }
  .animate-roll {
    animation: spin 0.5s infinite;
  }
}

@keyframes spin {
  0% {
    rotate: 0;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-0.5px, -0.5px);
  }
  20% {
    transform: translate(0.5px, 0.5px);
  }
  30% {
    transform: translate(-0.5px, 0.5px);
  }
  40% {
    transform: translate(0.5px, -0.5px);
  }
  50% {
    transform: translate(-0.5px, -0.5px);
  }
  60% {
    transform: translate(0.5px, 0.5px);
  }
  70% {
    transform: translate(-0.5px, 0.5px);
  }
  80% {
    transform: translate(0.5px, -0.5px);
  }
  90% {
    transform: translate(-0.5px, -0.5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
